{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<header>
    {{ include("TyrBundle:Default:header.html.twig") }}
</header>
<section>
    <div class ="row">
        <div class="large-8 columns">
        <article>
            {{ include("TyrBundle:Form:login_register.html.twig") }}
        </article>
        </div>
        <section>
        <div class="large-4 columns">
            {{ include("TyrBundle:Default:presentation.html.twig") }}
            <p class = "text-center ">
                {{ include("TyrBundle:Default:tryit.html.twig") }}
            </p>
        </div>
        </section>
    </div>
       
</section>
<footer>
        {{ include("TyrBundle:Default:footer.html.twig") }}
</footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}d
    {% javascripts  output='js/ymir.js' 
        "@TyrBundle/Resources/public/js/src/ymir.class.js"
        "@TyrBundle/Resources/public/js/src/View/ViewProfil.class.js"
        "@TyrBundle/Resources/public/js/src//Model/Widget.class.js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

