{% extends "TyrBundle::layout.html.twig" %}

{% block body %}
<header>
    {{ include("TyrBundle:Default:header.html.twig") }}
</header>
<section>
    <div class ="row">
        <div class="large-8 columns">
        <article>
            {{ include("TyrBundle:Form:login_register.html.twig") }}
        </article>
        </div>
        <section>
        <div class="large-4 columns">
            {{ include("TyrBundle:Default:presentation.html.twig") }}
            <p class = "text-center ">
                {{ include("TyrBundle:Default:tryit.html.twig") }}
            </p>
        </div>
        </section>
    </div>
       
</section>
<footer>
        {{ include("TyrBundle:Default:footer.html.twig") }}
</footer>

<script type="text/template" id="list-projet-template">
    <li class="accordion-navigation">
		<li><a href="#<%= name %>"><%= name %><i class="fi-arrow-down "></i></a></li>				  
        <li><a href="#download<%= name%>"><i class="fi-download"></i></a></li>
        <li><a href="#remove<%= name%>"><i class="fi-x"></i></a></li>
		<div id="<%= name %>" class="content">
        
			<ul class="dropdown">
			<% _.each(widgets, function(widget) { %>
                <li>
                    <ul class="inline-list">
                        <li><span>"><%= widget.get('name') %></span></li>
				        <li><a href="#editpage"><i class="fi-page-edit"></i></a></li>
				        <li><a href="#deletepage"><i class="fi-x"></i></a></li>
                    </ul>
                </li>
			</ul>
			<% }); %>
		</div>
	</li>
</script>


<div id = "menu" class ="menu"></div>

{% endblock %}
